# The name of the workflow
name: Build and Test

# This workflow will run on any push to the repository
on: push

jobs:
  test:
    # Similar to Docker, we set up a virtual machine to run our tests
    runs-on: ubuntu-latest

    steps:
      # Each step has a name, some code, and some options
      - name: Check out the code
        uses: actions/checkout@v3

      # This step installs the Python version we want
      - name: Set up Python 3.11.0
        uses: actions/setup-python@v4
        with:
          python-version: 3.11.0

      # This step installs pip, pipenv, and our dependencies
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pipenv
          pipenv install --dev

      # Now we run our tests
      - name: Test with pytest
        run: |
          pipenv run pytest

